<ul class="nav navbar-nav pull-xs-right">
  <li class="nav-item nav-item-toggable">
    <a class="nav-link" href="#features">
      <%= I18n.t("home.navbar.features") %>
    </a>
  </li>
  <li class="nav-item nav-item-toggable">
    <a class="nav-link" href="#pricing">
      <%= I18n.t("home.navbar.pricing") %>
    </a>
  </li>
  <li class="nav-item nav-item-toggable">
    <a class="nav-link" href="https://docs.tellidasubscriptions.com" target="_blank">
      <%= I18n.t("home.navbar.docs") %>
    </a>
  </li>
  <li class="nav-item nav-item-toggable">
    <a class="nav-link" href="https://blog.tellidasubscriptions.com" target="_blank">
      <%= I18n.t("home.navbar.blog") %>
    </a>
  </li>
</ul>